/* Estils generals */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #f5ebe0;
    padding: 10px 20px;
    top: 0;
    left: 0;
    right: 0;
}

#politica_priv {
    padding: 40px 20px;
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.logo img {
    max-height: 70px;
}

header h1 {
    margin: 0;
}

.navegacio ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navegacio a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.navegacio a:hover,
.navegacio .actiu {
    background-color: #d4a276;
    color: #f5ebe0;
}

/* Imatge de fons */
.Imatge-fons {
    margin-top: 4%;
    background: url('Galeria/Fotos/Fondo_pag.png') center/cover no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Quadre transparent */
.transparent {
    background-color: rgba(19, 14, 1, 0.425);
    padding: 20px 30px;
    border-radius: 10px;
    text-align: center;
    color: #F5DEB3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
    max-width: 600px;
    width: 90%;
}

.transparent h2,
.transparent p {
    margin-bottom: 15px;
}

.transparent .btn {
    padding: 10px 25px;
    background-color: #8B4513;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.2s;
}

.transparent .btn:hover {
    background-color: #5A2E12;
    transform: translateY(-2px);
}

/* Peu de pàgina */
footer {
    background-color: #333;
    color: #f5ebe0;
    text-align: center;
    padding: 10px;
}

footer a {
    color: #d4a276;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Disseny de la galeria */

.galeria-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;
}

.galeria-container img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.galeria-container video {

    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.galeria-container img:hover {
    transform: scale(1.05);
}

#videos h2,
#fotos h2 {
    font-size: 2em;
    font-weight: bold;
    color: #5e4d3d;
    letter-spacing: 1px;
    text-align: center;
}

#videos p,
#fotos p {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: #8b7d6b;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
    text-align: center;
}

/* Botó per tornar a l'inici */
#btnTornaInici {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #8c705c;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
}

#btnTornaInici:hover {
    background-color: #5a4d41;
}

/* Secció Serveis */
#serveis {
    margin-top: 4%;
    padding: 40px 20px;
    text-align: center;

}

#serveis h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: bold;
    color: #5e4d3d;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#serveis p {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: #8b7d6b;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}

.serveis-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    justify-content: center;
    padding: 0 20px;
}

.servei-item {
    background-color: #f1e3d3;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.servei-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.servei-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;

}

.servei-item h3 {
    font-size: 1.8em;
    color: #5e4d3d;
    margin-top: 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.servei-item p {
    font-size: 1.1em;
    color: #6d5d4b;
    padding: 0 20px 20px;
    line-height: 1.5;
}

/* Secció Sobre mi */

#biografia {
    margin-top: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
    background-color: #ffffff;
}

.biografia-container {
    display: flex;
    max-width: 1000px;
    gap: 40px;

}

.bio {
    font-size: 1.1em;
    margin-bottom: 40px;
    color: #666;
}

.bio h2 {

    font-size: 2em;
    font-weight: bold;
    color: #5e4d3d;
}

.foto img {
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Secció Politica Privacitat i cookies */
.politica h1 {
    margin-top: 10%;
    color: #5e4d3d;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #e0d7cc;
    padding-bottom: 10px;
}

.politica h2 {
    color: #7a5d48;
    font-size: 1.6rem;
    margin-top: 30px;
    margin-bottom: 10px;
}

.politica p,
.politica ul {
    color: #555;
    font-size: 1rem;
    margin-bottom: 20px;
}

.politica ul {
    padding-left: 20px;
}

.politica ul li {
    margin-bottom: 10px;
}

/* Links de la politica de priv i cookies*/
.politica a {
    color: #9c6b4a;
    text-decoration: underline;
}

.politica a:hover {
    color: #5e4d3d;
}

.text {
    padding: 30px;
    color: #333;
}

.text h2 {
    font-size: 2.5em;
    color: #4a4a4a;
    margin-bottom: 20px;
}

.text p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Estils generals per a la secció de contacte */
#contacte {
    margin: 4% auto;
    /* 4% marge superior i inferior, auto centrat horitzontalment */
    padding: 30px;
    background-color: rgba(252, 242, 231, 0.719);
    max-width: 800px;
    width: 100%;

}

/* Estils per al títol del formulari */
#contacte h2 {
    color: #5e4d3d;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
}

/* Estils per al text introductori */
#contacte p {
    font-size: 1.1rem;
    color: #555;
    text-align: center;
    margin-bottom: 30px;
}

/* Estils per als fieldsets */
form fieldset {
    border: 1px solid #ccc;
    border-color: #8B4513;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 20px;
}

form legend {
    color: #7a5d48;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 10px;
}

/* Estils per als grups de formulari */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 1rem;
    color: #5e4d3d;
    margin-bottom: 5px;
    display: block;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

/* Estils per al botó d'enviament */
button[type="submit"] {
    background-color: #8B4513;
    color: white;
    padding: 8px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: auto;
    display: block;
    margin: 20px auto 0;
}

/* Estils per a la llista de xarxes socials */
.socials {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.socials li {
    margin: 0 10px;
}

.socials img {
    width: 40px;
    height: 40px;
}

/* Estils per a l'avís de cookies */
.avis-cookies {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.avis-cookies a {
    color: #f7d794;
    text-decoration: underline;
}

.avis-cookies button {
    background-color: #f7d794;
    color: #333;
    border: none;
    padding: 8px 15px;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
}

.avis-cookies button:hover {
    background-color: #e0c17b;
}

/* Media Queries */
/* Mòbils i Tauletes */
@media (max-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 15px;
        position: static;
        /* Elimina l'estat fixed per a dispositius mòbils i tauletes */
    }

    .navegacio ul {
        display: flex;
        gap: 10px;
        margin: 0;
        padding: 0;
    }

    .navegacio a {
        font-size: 14px;
        padding: 6px 10px;
    }

    .logo img {
        display: none;
        /* Amaga el logo */
    }
}

/* Tauletes en orientació horitzontal */
@media (min-width: 769px) and (max-width: 1024px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .navegacio ul {
        flex-direction: row;
        gap: 20px;
    }
}

/* Ordinadors de sobretaula i pantalles grans */
@media (min-width: 1025px) {
    header {
        padding: 20px 40px;
    }
}